.line {
    height: 8px;
    width: 80px;
    background-color: cyan;
    margin: 8px auto;
}

body {
    text-align: center;


}

#apps {
    height: 701px;
    background-color: dodgerblue;
}
#games {
    height: 501px;
    background-color: firebrick;
    
}
img{
    height: 250px;
    width:300px;
    transition: transform .2s;
}
img:hover{
transform: scale(0.9);
}

